.App {
  text-align: center;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #282c34;
}

.content{
  width: calc(100% - 200px);
  margin-left: 10px;
}

.App-body {
  display: flex;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: white;
  line-height: 1.5;

}

.App-link {
  color: #61dafb;
}

.page-change {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-num-container {
  min-width: 15%;
}

.material-icons:hover  {
  color: grey;
  cursor: pointer;
}
/* Filter list formatting */
#rarity-filter {
  width: 10%;
}

/* Sidebar formatting */
.sidebar-container {
  display: flex;
  flex-shrink:0;
  flex-direction: column;
  bottom:0;
  right: calc(100% - 190px);
  height: 100vh;
  width: 200px;
  position: fixed;
  border-right: 2px solid white;
  min-width: 200px;
  font-size: 20px;
}

.dataAccess {
  margin-top: 10px;
}

.dataAccess:hover {
  color: grey;
  cursor: pointer;
}