.App {
  text-align: center;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* Filter list formatting */
#rarity-filter {
  width: 10%;
}

/* Sidebar formatting */
.sidebar{
  max-width: 20%;

}

.sidebar-container {
  display: flex;
  flex-direction: column;
  bottom:0%;
  right:85%;
  height: 100vh;
  width: 15%;
  position: fixed;
  border-right: 2px solid white;
}

.result-headers {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 20%;
  font-size: 80%;
}

.header {
  margin-right: 5%;
}