 
.results-container {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  font-size: 18px;
}

.results-table {
  width: 100%;
  min-width: 700px;
  white-space: no-wrap;
  text-align: left;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  
}

.list-item-container {
  height: 150px;
}

.list-item-ovr {
  vertical-align: middle;
}

.list-item-img {
  max-width: 100px;
  min-width: 100px;
  height: auto;
}

.list-item-ovr-icon {
  width: 21px;
  height: 21px;
}

.stubs-icon {
  width: 21px;
  height: 21px;
}


.item-name:hover{
  color: grey;
  cursor: pointer; 
}
